.centeredText {
  text-align: center;
}
.globalCard {
  border: none;
  box-shadow: 0 0 8px 4px rgba(0, 0, 0, 0.1);
}
.eventDetails {
  position: relative;
  border-radius: 0.25rem;
  font-size: 0.7rem;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  z-index: 1;
  overflow: hidden;
  background-color: transparent;
}
.eventDetails::before {
  content: "";
  background-color: #194d37;
  width: 0;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: width 300ms ease-in-out;
  display: inline-block;
}

.eventDetails:hover::before {
  width: 100%;
}
.eventDetails:hover {
  color: #fff;
  background-color: #194d37;
  border: none;
}
